body {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
}

#home-wrapper {
  background: url(/images/home-bg.jpg) top center no-repeat;
  font-family: 'Poppins', sans-serif;
  background-size: 100%;
}
#beta-message {
  background: rgba(255, 244, 183, 0.7);
  padding-bottom: 10px;
}
#beta-message p {
  font-size: 21px;
  font-weight: 500;
  color: black;
}
#beta-message a,
#beta-message a:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(0,120,255);
  color: rgb(0,120,255); 
}
#beta-message h1 {
  color: black;
}

#wanna-know {
  padding-top: 160px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.5);
}
#wanna-know h1 {
  color: white;
}

.field {
  margin-bottom: 20px;
}
.field input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  color: white;
}
/* Remove outline when the input gets focus on Chrome */
.field textarea:focus, .field input:focus {
  outline: none;
}

.tip {
  font-style: italic;
  font-size: 16px;
  color: #b5b7b7;
  width: 150px;
  margin-top: -10px;
}

.submit {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: white;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
}


/* Change .container width */
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
