body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
}

.hover-message {
  background: rgba(255, 244, 183, 0.7);
  padding-bottom: 10px;
}
.hover-message__title {
  color: black;
}
.hover-message__text {
  font-size: 21px;
  font-weight: 500;
  color: black;
}
.hover-message__link,
.hover-message__link:hover {
  text-decoration: none;
  border-bottom: 1px solid rgb(0,120,255);
  color: rgb(0,120,255);
}

.wanna-know {
  background: black url(/images/home-bg.jpg) top center no-repeat;
  background-size: 100%;
}
.wanna-know__content {
  padding-top: 160px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.wanna-know__field {
  margin-bottom: 20px;
}
.wanna-know__field input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  color: white;
}
/* Remove outline when the input gets focus on Chrome */
.wanna-know__field textarea:focus, .wanna-know__field input:focus {
  outline: none;
}
/* Placeholder color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0.5);
}

.wanna-know__tip {
  font-style: italic;
  font-size: 16px;
  color: #b5b7b7;
  width: 150px;
  margin-top: -10px;
}

.submit {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: white;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
}


/* Change .container width */
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}


/* Media query for mobile devices. */
@media only screen and (max-width: 800px) {
  #home-wrapper {
    background-image: none;
  }
  .hover-message p {
    font-size: 15px;
  }
  h1 {
    font-size: 26px;
  }
  .wanna-know {
    background-position: 30% 0;
    background-size: cover;
  }
  .wanna-know__content {
    padding-top: 60px;
  }
  .wanna-know__ingress {
    font-size: 14px;
  }
  .wanna-know__field {
    margin: 15px 0 10px;
  }
  .wanna-know__tip {
    width: 100%;
    color: #fff;
  }
  .wanna-know__submit {
    margin-top: 20px;
  }
}
