$font-family-serif: 'Georgia', serif;
$font-family-sans-serif: 'Poppins', sans-serif;

body {
  margin: 0;
  font-family: $font-family-sans-serif;
  padding-bottom: 60px;
}

img {
  max-width: 100%;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  border-bottom: 1px solid rgb(0,120,255);
  color: rgb(0,120,255);
  transition: 0.2s ease;
}
a:hover {
  opacity: 0.8;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
}

.hover-message {
  background: rgba(255, 244, 183, 0.7);
  padding-bottom: 10px;
}
.hover-message__title {
  color: black;
}
.hover-message__text {
  font-size: 21px;
  font-weight: 500;
  color: black;
}

.wanna-know {
  background: black url(/images/home-bg.jpg) bottom center no-repeat;
  background-size: 100%;
}
.wanna-know__content {
  padding-top: 160px;
  padding-bottom: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.wanna-know__title {
  white-space: pre-line;
  font-size: 42px;
  line-height: 60px;
  font-weight: 600;
}
.wanna-know__ingress {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  max-width: 540px;
}
.wanna-know__ingress2 {
  font-size: 13px;
  line-height: 21px;
  font-weight: 500;
  max-width: 540px;
}
.wanna-know__field {
  margin-bottom: 20px;
}
.wanna-know__field input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  color: white;
}
/* Remove outline when the input gets focus on Chrome */
.wanna-know__field textarea:focus, .wanna-know__field input:focus {
  outline: none;
}
/* Placeholder color */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255, 0.5);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255, 0.5);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0.5);
}

.wanna-know__tip {
  font-style: italic;
  font-size: 16px;
  color: #b5b7b7;
  width: 150px;
  margin-top: -10px;
}

.wanna-know__submit {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  background: white;
  padding: 10px;
  text-align: center;
  color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

@define-mixin quote {
  font-family: $font-family-serif;
  font-size: 24px;
  font-style: italic;
  line-height: 1.5;
}

.dont-want-clothes-by-section {
  padding: 40px 0;
  font-size: 20px;
}

.dont-want-clothes-by {
  padding: 0px;
}

.dont-want-clothes-by__start {
  font-weight: 100;
}

.dont-want-clothes-by__end {
  font-weight: 500;
  font-style: italic;
}

.dont-want-clothes-by__last {
  color: rgba(0, 0, 0, 0.1);

}

.dont-want-clothes-by__2nd_last {
  color: rgba(0, 0, 0, 0.3);

}

.dont-want-clothes-by__3rd_last {
  color: rgba(0, 0, 0, 0.6);

}

.child-stats {
  background: black url(/images/child.jpg) center center / cover;
  color: white;
  margin-top: -40px;
}
.child-stats__content {
  padding: 60px;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.child-stats__text {
  float: right;
}
.child-stats__stat {
  margin: 30px 0;
}
.child-stats__stat-number {
  font-size: 34px;
  font-weight: 500;
  display: block;
  line-height: 1;
}
.child-stats__stat-description {
  font-size: 18px;
  display: block;
}

.main-content {
  position: relative;
}

.hangtag {
  position: absolute;
  left: 0;
  top: -120px;
  max-width: 40%;
}
.hangtag__image {
  max-width: 100%;
}

.testimonials,
.whats-happening,
.about-askbywho {
  padding-left: 40%;
}

.testimonials__testimonial {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.testimonials__quote {
  @add-mixin quote;
  flex: 1;
}
.testimonials__author {
  width: 90px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $font-family-sans-serif;
  font-size: 10px;
}
.testimonials__author img {
  width: 60px;
  height: 54px;
}

.whats-happening {
  font-size: 24px;
  margin: 60px 0;
}
.whats-happening__list {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  line-height: 40px;
  font-size: 22px;
}

.about-askbywho {
  font-weight: 200;
  display: flex;
  flex-direction: row;
}
.about-askbywho__content {
  flex: 1;
}
.about-askbywho__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  font-size: 30px;
  font-weight: 500;
  white-space: nowrap;
  word-break: keep-all;
}
.about-askbywho__logo img {
  width: 130px;
}

/* Change .container width */
@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}


/* Media query for mobile devices. */
@media only screen and (max-width: 800px) {
  #home-wrapper {
    background-image: none;
  }
  .hover-message p {
    font-size: 15px;
  }
  h1 {
    font-size: 26px;
  }
  .wanna-know {
    background-position: 30% 0%;
    background-size: cover;
  }
  .wanna-know__content {
    padding-top: 60px;
  }
  .wanna-know__title {
    font-size: 27px;
    line-height: 34px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    white-space: normal;
  }
  .wanna-know__ingress {
    font-size: 14px;
    line-height: 18px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
  }
  .wanna-know__ingress2 {
    font-size: 11px;
    line-height: 14px;
    font-family: $font-family-sans-serif;
    font-weight: 600;
  }
  .wanna-know__field {
    margin: 15px 0 10px;
  }
  .wanna-know__tip {
    width: 100%;
    color: #fff;
  }
  .wanna-know__submit {
    margin-top: 20px;
  }

  .dont-want-clothes-by-section {
    padding: 5px;
    font-size: 15px;
    line-height: normal;
    white-space: pre-line;
    max-width: 350px;
    margin: auto;

  }

  .dont-want-clothes-by {
    padding: 0px;
    line-height: normal;
    margin-bottom: -10px;
  }


  .dont-want-clothes-by__start {
    font-style: italic;
  }

  .child-stats {
    margin-top: -30px;
  }

  .hangtag {
    position: static;
    width: 100%;
    max-width: 100%;
  }

  .testimonials,
  .whats-happening,
  .about-askbywho {
    padding-left: 0;
  }
  .testimonials__quote {
    @add-mixin quote;
    flex: 1;
    font-size: 16px;
  }
  .whats-happening__list {
    font-size: 16px;
    line-height: 26px;
    padding-top: 10px;
    margin-top: 10px;
  }
  .about-askbywho {
    flex-direction: column;
  }

}
